#controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    border: 8px groove #000000;

    align-items: center;
    justify-content: center;
}

.organize{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
}
